*.txt
*.fst
*.fst.hier
*.tr
*.pyc
*.log
*.csv
*.png
*.vvp
*.vpd
csrc/
results/
obj_dir-*/
simv*
default.vlt
vc_hdrs.h
ucli.key
design_setup.tcl
bsg_chip_pkg.sv
bsg_chip_pkg.tcl
bsg_chip_pkg.h
bsg_chip_defines.svh
*.checks.txt
*.elab.v
*.gen.v
*.map.v
*.opt.v
*.tech.v
*.final.v
*.wrapper.v
*.stats.json
*.blif
*.fsdb
novas.*
verdiLog
work/
DVEfiles/
*.pickle.sv
synopsys_sim.setup
*.rpt
default.svf
WORK/
alib-*/
*.lib
*.sdc
*.sdc.gz
slpp_unit/
slpp_all/
